.anchor
.DS_Store
target/*
!target/idl
!target/idl/trusttrail.json
!target/types
!target/types/trusttrail.ts
**/*.rs.bk
node_modules
test-ledger
.yarn
.surfpool
.env
backend/.env
backend/node_modules
